alias la='ls -A'
alias zshconfig='vim ~/.zshrc'
alias vimconfig='vim ~/.vimrc'
alias tmuxconfig='vim ~/.tmux.conf'
alias aliases='vim ~/.aliases'
alias optimus='cd ~/code/optimus'
alias gssv='gss | grep -v '\''^??'\'

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


branches() {
    git for-each-ref --sort=-committerdate refs/heads/ | awk -F '/' '{ print $3 }' | less
}


update() {
    # Fetch the latest changes from the remote repository
    git fetch origin

    # Attempt to rebase against the master branch
    git rebase origin/master

    # Check if the rebase was successful
    if [ $? -eq 0 ]
    then
        echo "Rebase successful!"
    else
        # Abort the rebase
        git rebase --abort

        # Perform a merge with --squash
        git merge --squash origin/master

        echo "Rebase failed. Merge with --squash performed."
    fi
}

function git_main_branch() {
  def=`git remote show origin | sed -n '/HEAD branch/s/.*: //p'`
  echo $def
}

alias gs="git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)' | fzf --preview 'git show --color=always {}' | xargs -r git switch"  

alias config='/usr/bin/git --git-dir=/home/rjindal/.cfg/ --work-tree=/home/rjindal'